---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/blog/tags/{{ tag | slugify }}/"
layout: "layouts/page.njk"
---

<div class="tag-page">
  <div class="tag-header">
    <h1>Posts tagged "{{ tag }}"</h1>
    <p class="lead">
      {% set taggedPosts = collections[tag] | length %}
      {{ taggedPosts }} {% if taggedPosts == 1 %}post{% else %}posts{% endif %} found
    </p>
    <a href="/blog/" class="tag-back-link">← Back to all posts</a>
  </div>

  <div class="blog-grid">
    {% for post in collections[tag] | reverse %}
      {% if post.data.tags and tag in post.data.tags %}
        <article class="blog-card">
          {% if post.data.featured_image %}
            <div class="blog-card__image">
              <a href="{{ post.url }}">
                {% image post.data.featured_image, post.data.featured_image_alt or post.data.title, "(min-width: 768px) 33vw, 100vw" %}
              </a>
            </div>
          {% endif %}
          
          <div class="blog-card__content">
            <div class="blog-card__meta">
              <time class="blog-card__date">{{ post.date | readableDate }}</time>
              {% if post.data.author %}
                <span class="blog-card__author">by {{ post.data.author }}</span>
              {% endif %}
            </div>
            
            <h3 class="blog-card__title">
              <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h3>
            
            <p class="blog-card__excerpt">{{ post.data.description }}</p>
            
            <div class="blog-card__tags">
              {% for postTag in post.data.tags %}
                {% if postTag != "posts" %}
                  <a href="/blog/tags/{{ postTag | slugify }}/" 
                     class="blog-card__tag {% if postTag == tag %}blog-card__tag--current{% endif %}">
                    {{ postTag }}
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>