---
layout: layouts/base.njk
---

<div class="page">
  <div class="container">
    <header class="page__header">
      <h1 class="page__title">{{ title }}</h1>
    </header>
    
    <main class="page__content">
      {{ content | safe }}
    </main>
  </div>
</div>